@charset "UTF-8";

body {
	margin: 2em;
	border: 0px;
	background-repeat: no-repeat;
	background-color: #F2F1F8;
	font-family: 'Mirza', cursive;
	font-size:16px;
}

#mixer-board {
	width: 100%;
	text-align: center;
	margin: 50px 0;
}

.puzzle-pieces, .puzzle-board {
	margin: 5px;
	height: 480px;
	display: inline-block;
	overflow: hidden;
}

.puzzle-pieces {
	width: 200px;
}

.puzzle-board {
	width: 610px;
	background-image:url(../images/puzzleBoard.png);
	background-repeat: no-repeat;
  background-size: 100% auto;
}

.puzzle-image {
	width: 50%;
	display: block;
	cursor: pointer;
	background-color: #90b9c9;
	margin: 20px;
}

.puzzle-image:nth-child(even) {
	float: right;
	clear: both;
}

.puzzle-image:nth-child(odd) {
	float: left;
	clear: both;
}

.drop-zone {
	width: 33%;
  height: 49.5%;
  border: thin dashed white;
  float: left;
	position: relative;
}

.drop-zone img {
	float: none;
	padding: 0;
	margin: 0;
	width: 100%;
	position: absolute;
}

.tl img {
	right:0;
	bottom: 0;
}

.tr img {
	left:0;
	bottom: 0;
}

.tm img {
	left:0;
	bottom: 0;
}

.bl img {
	right:0;
	top: 0;
}

.br img {
	left:0;
	bottom: 0;
}

.bm img {
	left:0;
	bottom: 0;
}

.bird-anim {
	position: absolute;
	top: 0;
	left: 30%;
	width: 20%;
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}

header h1 {
  font-size: 3.25em;
  letter-spacing: 3px;
  margin: 20px 0;
  text-align: center;
	color: #2C3B42;
}

footer p {
  font-size: 2em;
  margin: 20px auto;
	line-height: 1em;
  text-align: center;
	max-width: 700px;
	color: #2C3B42;
}

/* Layout of the puzzle board and pieces need to be improved */
